.ytuReplayButton {
    width: 20px;
    height: 20px;
    font-size: 195%;
    font-weight: normal;
    border: none;
    background: none;
    display: inline-block;
    margin-left: 7px;
    margin-right: 1px;
    margin-top: 5px;
    cursor: pointer;
    transform: rotate(90deg);
    color: #ffffff;
}
.ytuReplayButtonOn {
    color: #E62117 !important;
}
.ytuReplayButtonFullScreen {
    margin-left: 20px !important;
    margin-top: 7px !important;
}